.add{
    &__container{
    }
    &__slide{
       background-color: rgb(150, 150, 150);
       border-radius: 10px;
       @include f(center, center);
    }
}

.card {
    @include f(start, start);
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 3px 8px 0px $iconGray, -1px 3px 8px 0px $iconGray;
    &__img-box {
       width: 100%;
       background-color: $darkGray;
       height: 160px;
       border-radius: 20px 20px 0px 0px;
       position: relative;
    }
    &__img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       border-radius: 20px 20px 0px 0px;
    }
    &__stock{
       z-index: 2;
       position: absolute;
       top: 20px;
       left: 20px;
       background-color: $orange;
       padding: 10px;
       border-radius: 10px;
       color: white;
       border: none;
       box-shadow: none;
       font-size: 12px;
    }
    &__likeIcon-box {
       position: absolute;
       bottom: -20px;
       right: 20px;
       height: 40px;
       width: 40px;
       background-color: white;
       border-radius: 50%;
       @include f(center, center);
    }
    &__likeIcon {
    }
    &__content {
       padding: 25px 15px 25px 15px;
    }
    &__title {
       font-size: 20px;
       margin-bottom: 5px;
    }
    &__text-box {
       display: flex;
       &_vertical{
          flex-direction: column;
          :first-child{
             margin-bottom: 5px;
          }
       }
    }
    &__text {
       &_p{
          margin: 20px 0px;
       }
       font-size: 14px;
       font-weight: 500;
       &_gray {
          color: $iconGray;
          display: inline;
       }
       &_bottom {
          display: inline-flex;
          align-items: center;
          margin-right: 20px;
          font-size: 14px;
          font-weight: 500;
       }
       &_bottom_paid {
          &::before{
             content: url("../../images/icons/paid.svg");
             display: inline-block;
             width: 20px;
             height: 20px;
             background-size: contain;
             background-repeat: no-repeat;
             margin-right: 10px;
 
          }
       }
       &_bottom_comments{
          &::before{
             display: inline-block;
             content: url("../../images/icons/comment.svg");
             width: 20px;
             height: 20px;
             background-size: contain;
             background-repeat: no-repeat;
             background-position: center;
             margin-right: 10px;
          }    
       }
 
    }
    &__hr{
       width: 100%;
       border: 1px solid rgb(246, 246, 246);
    }
    &__bottom {
       width: 100%;
       padding: 15px;
       @include f (space-between, center)
    }
    &__button {
       border-radius: 10px;
       background-color: $orange;
       color: white;
       padding: 10px 15px;
       font-size: 12px;
    }
}
 
.pagination{
    &__container{
       @include f(start, center);
       margin-top: 20px;
    }
    &__item{
       font-family: "Segoe UI Regular";
       border: solid 1px rgb(246, 246, 246);
       padding: 12px 0px;
       width: 40px;
       text-align: center;
       user-select: none;
       cursor: pointer;
       font-weight: 500;
       font-size: 12px;
       box-sizing: border-box;
       &_active{
          background-color: $orange;
          color: white;
       }
       &_prev{
          border-radius: 50% 0px 0px 50%;
       }
       &_next{
          border-radius: 0px 50% 50% 0px;
       }
       &_disabled{
          display: none;
       }
    }
}
 
.infoMobileApp {
    &__container {
       @include f(space-between, center);
       margin-bottom: 50px;
    }
    &__content {
    }
    &__title {
       font-size: 34px;
       font-weight: 900;
       width: 700px;
       margin-bottom: 10px;
       font-family: "Raleway", sans-serif;
    }
    &__text {
       font-weight: 500;
       width: 580px;
       margin-bottom: 25px;
       font-family: "Raleway", sans-serif;
    }
    &__buttons-box {
       width: 40%;
       height: 128.13px;
       display: grid;
       grid-template-columns: 57% 43%;
       grid-template-rows: 1fr 1fr;
       gap: 20px;
    }
    &__button {
       background-color: black;
       border-radius: 10px;
       border: solid 2px rgb(76, 79, 95);
       @include f(start, center);
       padding: 5px 10px;
       &_big {
          @include f(center, center);
          padding: 10px 10px;
          background-color: white;
          grid-row: 1/3;
          grid-column: 2/3;
          box-shadow: 1px 3px 8px 0px $iconGray, -1px 3px 8px 0px $iconGray;
          border: none;
       }
    }
    &__button-img {
       fill: black;
    }
    &__img {
       height: 350px;
       object-fit: contain;
       position: relative;
       top: 10px;
       left: -50px;
    }
}
.infoAboutApp {
   &__container {
      @include f(space-between, center);
      margin-bottom: 100px;
      margin-top: 50px;
   }
   &__title {
      font-size: 37px;
      font-weight: 700;
      width: 700px;
      margin-bottom: 10px;
      font-family: 'Arial';
   }
   &__text {
      font-weight: 500;
      width: 580px;
      margin: 30px 0px;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 16px;
   }
   &__button{
      background-color: $blue;
      border-radius: 10px;
      padding: 15px 80px;
      color: white;
      font-size: 16px
   }
   &__img {
      height: 350px;
      object-fit: contain;
      position: relative;
      top: -15px;
      left: -100px;
   }
}
.infoPartnership {
   padding: 60px 0px;
   width: 100vw; 
   position: relative;
   left: 50%; 
   transform: translateX(-50%);
   background-color: $blue;
   &__title {
      margin: 0 auto;
      width: 1140px;
      padding: 0px 15px;
      font-size: 38px;
      color: white;
      font-family: "Raleway", sans-serif;
      margin-bottom: 20px;
   }
   &__content-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);      
      column-gap: 20px;
      margin: 0 auto;
      width: 1140px;
      padding: 0px 15px 0px 15px;
   }
   &__item {
      @extend %block;
      box-shadow: none;
      padding: 30px 30px;
   }
   &__item-title {
      font-family: "Raleway";
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 20px;
   }
   &__item-text {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
   }
}
.usPartners {
   margin: 70px 0px;
   &__title {
      font-size: 38px;
      font-family: "Raleway", sans-serif;
      margin-bottom: 20px;
   }
   &__icons-box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);      
      grid-template-rows: repeat(2, 192.8px);
      gap: 15px;
   }
   &__icon {
      height: 192.8px;
      border-radius: 30px;
      &_border{
         border: 1px solid black;
         box-sizing: border-box;
      }
   }
   &__more-icon {
      background-color: $blue;
      @include f(center, center);
      border-radius: 30px;
      padding: 20px;
      height: 192.8px;
      span{
         color: white;
         font-size: 20px;
         font-weight: 600;
      }
   }
}
.becomePartner {
   width: 100vw; 
   position: relative;
   left: 50%; 
   transform: translateX(-50%);
   background-color: rgb(242, 242, 242);
   @include f(center, center);
   padding: 60px 0px;
   &__img {
      height: 390px;
      object-fit: contain;
   }
   &__content {
      @include f(start, start);
      flex-direction: column;
   }
   &__text {
      font-size: 56px;
      font-weight: 500;
      font-family: 'Arial';
      &_bold {
         font-weight: 700;
         font-size: 52;
      }
   }
   &__button {
      margin-top: 20px;
      background-color: $blue;
      border-radius: 10px;
      padding: 10px 30px;
      color: white;
      font-size: 16px;
   }
}

.info {
   font-family: 'Raleway';
    margin-bottom: 50px;
    &__h4 {
       font-size: 20px;
       margin-bottom: 5px;
    }
    &__text {
       font-size: 12px;
       margin-left: 15px;
       margin-bottom: 5px;
       &_first{
          margin-left: 10px;
       }
    }
    &__h5 {
       font-size: 12px;
       margin-left: 10px;
       margin-bottom: 5px;
    }
}

.widget {
    background-color: white;
    box-shadow: 1px 3px 8px 0px $iconGray, -1px 3px 8px 0px $iconGray;
    padding: 15px;
    border-radius: 10px;
    &__title {
       font-size: 16px;
       margin-bottom: 20px
    }
    &__content {
       @include f(start, start);
       margin-bottom: 20px
    }
    &__text-box {
       @include f(start, start);
       flex-direction: column;
       margin-right: 20px;
    }
    &__text {
       &_gray {
          color: $iconGray;
          margin-bottom: 10px;
       }
    }
    &__item {
       @include f(start, center);
       gap: 10px;
       margin-bottom: 20px;
       &_address {
          position: relative;
          span{
             cursor: pointer;
             color: blue;
             position: absolute;
             bottom: 10px;
             right: 0;
          }
       }
       &_big{
          @include f(start, start);
          margin-bottom: 0px;
       }
       &_border{
          padding-bottom: 10px;
          border-bottom: 1px solid rgb(242, 242, 244);
       }
       &-btn{
          height: 40px;
          min-width: 40px;
          border-radius: 10px;
          background-color: rgb(245, 245, 245);
          margin-right: 3px;
          @include f(center, center);
          &_vk{
             background-color: rgb(70, 128, 194);
             @include f(center, center);
          }
          &_telegram{
             background-color: rgb(68, 166, 255);
             @include f(center, center);
          }
          &_viber{
             background-color: rgb(116, 96, 242);
             @include f(center, center);
          }
          &_ok{
             background-color: rgb(238, 130, 8);
             @include f(center, center);
          }
          &_mailru{
             background-color: rgb(1, 94, 249);
             @include f(center, center);
          }
          &_big{
             height: 40px;
             width: 100%;
             border-radius: 10px;
             background-color: rgb(245, 245, 245);   
          }
       }
    }
    &__item-text {
       font-weight: 500;
       word-wrap: break-word;
       &_green {
          color: green;
          cursor: pointer;
       }
       &_big{
          @include f(start, start);
          flex-direction: column;
       }
    }
    &__item-btn {
    }
}
 
.widget-info {
    position: absolute;
    top: 183px;
    width: 756px;
    &__link {
       font-size: 18px;
       margin-right: 50px;
       display: inline-block;
       padding-bottom: 20px;
       font-weight: 450;
       cursor: pointer;
       &_active{
          font-weight: 700;
          border-bottom: 1px solid $orange;
       }
    }
    &__hr{
       border: 1px solid rgb(242, 242, 244);
       color: rgb(242, 242, 244);
       margin-top: -1px;
    }
    &__content {
       margin-top: 20px;
    }
}
 
.map {
    width: 100vw; 
    height: 600px; 
    position: relative; 
    left: 50%; 
    transform: translateX(-50%);
    pointer-events: none;
    margin-bottom: 50px;
    iframe{
       filter: blur(5px);
       width: 100%;
       height: 100%;
    }
    &_active{
       pointer-events: all;
       iframe{
          filter: blur(0px);
       }
    }
 
    &__content {
       pointer-events: all;
       position: absolute;
       top: 50%;
       left: 20%;
       transform: translateY(-50%);
       background-color: white;
       box-shadow: 1px 3px 8px 0px $iconGray, -1px 3px 8px 0px $iconGray;
       border-radius: 16px;   
    }
    &__btnBox {
       margin: 15px 0px;
       padding: 0px 15px;
       width: 100%;
    }
    &__button {
       padding: 10px 30px;
       background-color: $blue;
       border-radius: 10px;
       color: white;
       width: 100%;
    }
    &__title {
       font-size: 16px;
       margin: 15px;
       margin-bottom: 20px;
       max-width: 280px;
    }
 
    &__item {
       margin: 15px;
       @include f(start, center);
       gap: 10px;
       margin-bottom: 20px;
    }
    &__hr{
       border: 1px solid rgb(242, 242, 244);
       margin-bottom: 20px;
       position: relative;
       width: 100%;
    }
    &__item-btn {
       height: 40px;
       min-width: 40px;
       border-radius: 10px;
       background-color: rgb(245, 245, 245);
       margin-right: 3px;
       @include f(center, center);
    }
    &__item-text {
       font-weight: 500;
       word-wrap: break-word;
       &_green {
          color: green;
       }
    }
}

.comment {
   background-color: white;
   box-shadow: 1px 3px 8px 0px $iconGray, -1px 3px 8px 0px $iconGray;
   padding: 15px;
   border-radius: 10px;

   &__FirstLine {
      @include f(start, center);
      margin-bottom: 30px;
   }
   &__avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $iconGray;
      margin-right: 10px;
   }
   &__author-box {
      @include f(start, start);
      flex-direction: column;
      //margin-bottom: 30px;
   }
   &__name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
   }
   &__author-info {
      font-size: 12px;
      color: $iconGray;
   }
   &__text {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 30px;
   }
   &__lastLine {
      @include f(start, start)
   }
   &__commInfo {
      font-size: 12px;
      color: $iconGray;
      margin-right: 20px;
      display: inline-flex;
      align-items: center;
      &_like{
         &::before {
            content: url("../../images/icons/comment-heart.svg");
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 10px;
          }   
      }
      &_comment{
         &::before {
            content: url("../../images/icons/comment.svg");
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 10px;
          }   
      }
   }
   &__more {
      background-color: transparent;
      vertical-align: top;
   }
}

%blockAboutApp{
   padding: 30px;
   border-radius: 50px;
}

.infoAboutCompany {
   margin-top: 50px;
   margin-bottom: 50px;
   font-family: "Raleway", sans-serif;
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-template-rows: 2fr 1fr; 
   grid-gap: 10px; 
   max-height: 515px;
   &__block {
      @extend %blockAboutApp;
      &_white {
         background-color: rgb(235, 239, 251);
         display: flex;
         flex-direction: column;
      }
      &_blue {
         background-color: $blue;
         @include f(center, start);
         grid-row: span 2;
         padding: 0px;
      }
      &_orange {
         background-color: rgb(255, 138, 98);
      }
   }
   &__text {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 30px;
      &_blue {
         color: $blue;
         font-size: 42px;
         font-weight: 700;
         margin-bottom: 30px;
      }
      &_white {
         color: white;
         margin-right: 20px;
         font-size: 18px;
         font-weight: 600;
      }
   }
   &__list {
   }
   &__list-item {
      font-size: 17px;
      margin-bottom: 10px;
      &:last-child{
         margin-bottom: 0px;
      }
      &::before{
         content: url('../../images/icons/Star.svg');
         margin-right: 10px;
         position: relative;
         bottom: -4px;
      }
      &_big{
         &::before{
            bottom: -14px;
         }
      }
      span{
         margin-left: 30px;
      }
   }
   &__img {
      position: relative;
      top: -39px;
      object-fit: contain;
      max-width: 385px;
   }
   &__icons {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
   }
   &__icon {
      margin-right: 10px;
   }
   &__paragrath {
      color: white;
      margin-bottom: 15px;
      font-size: 17px;
   }
   &__button {
      background-color: white;
      width: 100%;
      border-radius: 50px;
      padding: 15px 0px;
      font-size: 20px;
      font-weight: 700;
   }
}
.howItWorks {
   margin-bottom: 50px;
   &__title {
      color: rgb(198, 198, 198);
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 400;
   }
   &__hr {
      border: 1px solid rgb(198, 198, 198);
      margin-bottom: 40px;
   }
   &__bloks {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr; 
      gap: 20px;
   }
   &__block {
      @extend %blockAboutApp;
      color: white;
      &_blue {
         background-color: rgb(152, 175, 223);
         @include f(space-between, start);
         flex-direction: column;
         padding: 30px 5px 0px 5px;
      }
      &_white {
         @include f(space-between, start);
         background-color: rgb(235, 235, 235);
         color: black;
         flex-direction: column;
         padding-bottom: 0px;
         padding-top: 30px;
         img{
            max-width: 70%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
         }
         span{
            margin-left: 0px;
         }
         p{
            margin-left: 0px;
         }

      }
      &_orange {
         @include f(space-between, start);
         background-color: rgb(255, 138, 98);
         flex-direction: column;
         padding-top: 30px;
         span{
            margin-left: 0px;
         }
         p{
            margin-left: 0px;
         }
      }
   }
   &__span {
      margin-left: 30px;
      margin-bottom: 30px;
      font-size: 22px;
   }
   &__paragrath {
      margin-left: 30px;
      margin-bottom: 40px;
      font-size: 22px;
      font-weight: 700;
   }
   &__img {
   }
   &__button {
      margin-top: 10px;
      background-color: white;
      width: 100%;
      border-radius: 50px;
      padding: 15px 0px;
      font-size: 20px;
      font-weight: 700;
   }
}
.opportunities {
   margin-bottom: 50px;
   @extend %blockAboutApp;
   background-color: rgb(36, 56, 99);
   padding: 30px 60px;
   font-family: "Raleway";
   &__title {
      color: rgb(198, 198, 198);
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 400;
   }
   &__hr {
      border: 1px solid rgb(198, 198, 198);
      margin-bottom: 40px;
   }
   &__bloks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: 1.5fr auto;
      gap: 10px;
   }
   &__block {
      @extend %blockAboutApp;
      color: white;
      background-color: rgb(58, 84, 139);
      position: relative;
      padding: 40px 25px 0px 25px;
      &_big {
         grid-column: span 2;
         padding: 40px 60px 25px 60px;
      }
      &_3{
         h4{
            margin-top: -15px;
         }
         hr{
            margin-bottom: 11px;
         }
      }
      &_5{
         padding: 40px 35px 25px 35px;
      }
   }
   &__block-title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
   }
   &__block-hr {
      border: 1px solid rgb(170, 192, 238);
      margin-bottom: 20px;
   }
   &__block-p {
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
   }
   &__block-icon {
      position: relative;
      object-fit: contain;
      bottom: 0px;
      left: 100%;
      transform: translateX(-100px);
      &_1{
         bottom: -15px;
         width: 100px;
         transform: translateX(-120px);
         width: 89px;
      }
      &_2{
         transform: translateX(-80px);
         bottom: -14px;
         width: 71px;
      }
      &_3{
         bottom: 10px;
         width: 76px;
      }

   }
}
.invitation {
   display: grid;
   grid-template-columns: 1fr 1fr 1.5fr;
   grid-template-rows: 1fr 1fr;
   gap: 15px;
   margin-bottom: 50px;
   font-family: "Raleway";
   &__block {
      @extend %blockAboutApp;
      border-radius: 40px;
      &_img {
         &_1{
            background-image: url('../../images/other/красота.png');
            background-position: center;
            background-size: 360px 270px;
            background-repeat: no-repeat;
         }
         &_2{
            background-image: url('../../images/other/развлечения.png');
            background-position: center;
            background-size: 360px 270px;
            background-repeat: no-repeat;

         }
         &_3{
            background-image: url('../../images/other/магазины.png');
            background-position: center;
            background-size: 360px 270px;
            background-repeat: no-repeat;
         }
         &_4{
            background-image: url('../../images/other/рестораныикафе.png');
            background-position: center;
            background-size: 360px 270px;
            background-repeat: no-repeat;
         }

      }
      &_text {
         background-color: transparent;
      }
      &_blue {
         background-color: $blue;
         display: flex;
         position: relative;
      }
   }
   &__span {
      color: white;
      font-size: 20px;
   }
   &__title {
      font-size: 28px;
      margin-bottom: 20px;
   }
   &__paragrath {
      font-size: 26px;
   }
   &__img {
      width: 261px;
      object-fit: contain;
      position: absolute;
      top: 20px;
      right: 30px;
   }
}
.ratings {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: rgb(36, 56, 99);
   gap: 35px;
   @extend %blockAboutApp;
   padding: 25px;
   padding-right: 80px;
   position: relative;
   margin-bottom: 50px;
   font-family: "Raleway";
   &__rating {
      span {
         font-size: 62px;
         font-weight: 700;
         color: white;
         font-family: "Raleway", sans-serif;
      }
      margin-bottom: 20px
   }
   &__block {
      @extend %blockAboutApp;
      @include f(start, center);
      flex-direction: column;
      &_white {
         padding: 30px 10px 10px 10px;
         background-color: rgb(235, 239, 251);
      }
      &_transparent {
         height: 50%;
         padding: 0px;
         padding-top: 40px;
         position: relative;
         background-color: transparent;
         border: 2px solid white;
      }
   }
   &__count {
      font-family: "Raleway", sans-serif;
      margin: 35px;
      font-size: 62px;
      color: rgb(58, 84, 139);
      margin-bottom: 35px;
      font-weight: 700;
   }
   &__paragrath {
      color: rgb(119, 137, 178);
      margin-bottom: 20px;
      font-size: 18px;
      text-align: justify;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
   }
   &__img {
      border-radius: 0px 0px 50px 50px;
   }
   &__text {
      color: white;
      font-size: 18px;
      &_bottom {
         position: relative;
         bottom: -30px;
         padding-top: 20px;
         width: 100%;
         border-top: 1px solid white;
         text-align: center;
      }
   }
   &__qr {
      width: 200px;
      position: absolute;
      bottom: 20px;
      right: 80px;
      height: 42%;
      border-radius: 30px;
      padding: 20px;
      background-color: rgb(235, 239, 251);
      @include f(center, center);
      flex-direction: column;
   }
   &__qr-text {
      color: rgb(119, 137, 178);
      font-size: 18px;
      font-weight: 700;
   }
   &__qr-img {
      width: 100%;
      object-fit: contain;
   }
   &__logo {
      height: 42%;
      width: 240px;
      position: absolute;
      bottom: 20px;
      right: 300px;
      object-fit: contain;

   }
}
.question {
   margin-bottom: 70px;
   font-family: "Raleway";
   &__title {
      font-size: 42px;
      font-weight: 700;
      padding-bottom: 50px;
      border-bottom: 1px solid rgb(237, 237, 237);
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
   }
   &__hr{
      border: 1px solid rgb(237, 237, 237);
      margin: 15px 0px;
   }
   summary{
      font-family: "Raleway", sans-serif;
      list-style: none;
      font-size: 24px;
      font-weight: 600;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   summary::after{
      content: url("../../images/icons/plus.svg");
      margin-left: auto;
      margin-right: 5px;
      transition: transform 0.3s ease; /* Добавляем плавный переход */
   }
   
   details[open] summary::after {
     transform: rotate(45deg); /* Поворачиваем на 45 градусов */
   }
   details[open] summary{
      margin-bottom: 10px;
   }
   p{
      font-size: 16px;
      font-weight: 500;
   }

}


.categories {
   margin-bottom: 50px;
   &__title {
      font-size: 28px;
      margin-bottom: 20px;
      font-weight: 900;
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
   }
   &__item {
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      position: relative;
      background-color: rgba(153, 153, 153, 0.7);
      transition: background-color 0.3s ease;
     
         &:hover {
         background-color: rgba(170, 170, 170, 0.7);
         }
      }
     &__text {
      user-select: none;
      text-align: center;
      color: white;
      font-size: 16px;
      z-index: 2;
   }
}

.catalog {
   margin-bottom: 50px;
   &__title{
      font-size: 28px;
      margin-bottom: 20px;
      font-weight: 900;
   }
   &__button{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(242, 242, 246);
      padding: 15px 70px;
      font-weight: 700;
      margin-top: 20px;
      border-radius: 10px;
   }
}
.service {
      position: relative;
      background-color: rgb(242, 242, 246);
      border-radius: 10px;
      padding: 10px;
      &__container{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         align-items: start;
         gap: 20px;      
      }
      &__likeIcon-box{
         position: absolute;
         top: 10px;
         right: 10px;
      }
		&__content {
         @include f(start, center);
         margin-bottom: 30px;
		}
		&__img {
         height: 80px;
         width: 80px;
         background-color: rgb(194, 194, 197);
         border-radius: 10px;
         margin-right: 10px;
		}
		&__text {
         @include f(start, start);
         flex-direction: column;
		}
		&__title {
         margin-bottom: 20px;
		}
		&__address {
		}
		&__bottom {
         @include f(space-between, center);
		}
		&__rating {
		}
		&__button {
         background-color: white;
         color: rgb(27, 139, 245);
         padding: 8px 30px;
         border-radius: 30px;
         font-weight: 600;
		}
}
.placeServices {
   padding: 40px 70px;
   border-radius: 30px;
   background-color: rgb(1, 67, 165);
   @include f(start, center);
   position: relative;
   left: 0;
   right: 0;
   width: calc(100vw - (100vw - 1140px) / 2);
   margin-bottom: 50px;
   &__content {
      color: white;
   }
   &__title {
      font-size: 28px;
      margin-bottom: 30px;
      font-weight: 600;
   }
   &__text {
      font-size: 16px;
      margin-bottom: 25px;
      font-weight: 400;
      line-height: 30px;
   }
   &__button {
      width: 100%;
      padding: 15px 15px;
      font-weight: 700;
      border-radius: 10px;
   }
   &__img {
   }
}
