@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import './other/categoryPage';
@import './other/aboutAppPage';
@import './other/businessPage';
@import './other/content';
@import './other/partnershipPage';
@import './other/service';
@import './other/servicePage';
@import './other/contactsPage';

.header{
   user-select: none;
   background-color: $headerWhite;
   box-shadow: 0px 4px 10px 0px $iconGray;
   margin-bottom: 25px;
   padding: 10px 0px;
   font-family: 'Raleway';
   &__container{
      position: relative;
      max-width: 100%;
   }
   &__tel{
      font-family: "Segoe";
   }
   &__firstLine{
      @include f(space-between, center);
      margin-bottom: 20px;
   }
   &__location{
      text-decoration: underline dotted;
      text-underline-offset: 5px;
      display: inline-flex;
      align-items: center;
      &::before {
         content: url("../images/icons/metka.svg");
         display: inline-block;
         width: 20px;
         height: 20px;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         margin-bottom: -5px;
       }
      
   }
   &__about{
      margin-left: 80px;
      a{
         margin-right: 40px;
      }
      &:last-child{
         margin-right: 0px
      }
   }
   &__burger{
      display: none;
   }
   &__close{
      display: none;
   }
   &__secondLine{
      @include f(space-between, center);
      margin-bottom: 25px;
   }
   &__logo{
      height: 32px;
      object-fit: contain;
   }
   &__auth{
      text-wrap: nowrap;
      a{
         text-decoration: underline dotted;
         text-underline-offset: 15px;
      }
      &-slash{
         margin: 0px 10px;
         color: rgb(162, 163, 172);
         font-size: 12px;
      }
   }
   &__search{
      width: 100%;
      padding: 10px;
      padding-left: 15px;
      border: 1px solid rgb(162, 163, 172);
      border-radius: 5px;
      &-box{
         position: relative;
         width: 100%;
         margin-left: 20px;
   
      }
      &::placeholder{
         font-size: 14px;
         color: rgb(162, 163, 172);
      }
      &-iconBox{
         cursor: pointer;
         position: absolute;
         top: 2px;
         right: 2.5px;
         background-color: $blue;
         height: 34px;
         width: 40px;
         border-radius: 5px;
         button{
            @include f(center, center);
            background-color: transparent;
            width: 100%;
            height: 100%;
         }
      }
      &-icon_cross{
         transform: rotate(45deg);
      }
   }
   &__navCore {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      width: 100%;
   }
   &__nav-button {
      margin-bottom: 10px;
      background-color: $backGray;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      font-weight: 300;
      transition: background-color 0.3s, transform 0.1s, margin-top 0.2s;
      margin-right: 5px;
      cursor: pointer;
      &_hidden{
         display: none;
         &_active{
            display: block;
         }
      }
   }
   &__nav-buttonMore {
      z-index: 3;
      border: 1px solid black;
      margin-bottom: 10px;
      text-wrap: nowrap;
      background-color: $backGray;
      padding: 10px 15px;
      border-radius: 5px;
      &::after{
         content: url('../images/icons/moreNavHeader.svg');
         margin-left: 5px;
         transition: transform 0.3s;
         display: inline-block;
      }  
      &_active::after{
         transform: rotate(-180deg) !important;
      }
   }
   &__nav-button_gray_active, .header__nav-button_blue_active, .header__nav-button_orange_active, .header__nav-button_red_active {
      background-color: transparent;
   }
   &__nav-button_gray_disabled{
      pointer-events: none;
      opacity: 0.7;
   }
   &__nav-button_gray_active{
      border: 2px solid $backGray;
   }
   &__nav-button:hover {
      position: relative;
      top: -3px;
      background-color: $backGrayOpacity;
   }
   &__nav-button_blue {
      background-color: $blue;
      color: white;
      &_active{
         color: $blue;
         border: 1px solid $blue;
         &:hover{
            background-color: $blue;
            top: 0px;
            color: white;
         }   
      }
      &:hover{
         background-color: rgba(57, 83, 138, 0.7);
      }
   }
   
   &__nav-button_orange {
      background-color: $orange;
      color: white;
      &_active{
         color: $orange;
         border: 1px solid $orange;
         &:hover{
            background-color: $orange;
            top: 0px;
            color: white;
         }   
      }
      &:hover{
         background-color: rgba(255, 146, 46, 0.7);
      }
   }
   &__nav-button_red {
      background-color: rgb(244, 67, 54);
      color: white;
      &_active{
         color: rgb(244, 67, 54);
         border: 1px solid rgb(244, 67, 54);
         pointer-events: none;
      }
      &:hover{
         background-color: rgba(244, 67, 54, 0.7);
      }
   }
    
}
.breadCrambs {
   width: 100%;
   @include f(start, center);
   margin: 20px 0px 50px 0px;
   font-weight: 300;
   &__link {
      font-weight: 300;
   }
   &__span {
      margin: 0px 20px;
   }
}
.inDevelopment {
   margin: auto auto;
   @include f(start, center);
   flex-direction: column;
   &__img {
      margin-bottom: 30px;
      }
   &__title {
      margin-bottom: 30px;
      font-size: 20px;
   }
   &__btn {
      margin-bottom: 50px;
      border-radius: 10px;
      background-color: transparent;
      color: white;
      padding: 10px 15px;
      font-size: 12px;
      position: relative;
      width: 160px;
      height: 36px;
      span{
         width: 100%;
         color: white;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         display: block;
         z-index: 3;
         transition: left 0.3s;
      }
      &:hover span{
         left: 45%;
      }      
      &::before {
         content: '';
         background-color: $orange;
         border-radius: 10px;
         width: 160px;
         height: 36px;
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
         clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
         transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
         z-index: 2;
      }
      &:hover::before {
         background: $orange;
         -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
         clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      }
   }
}
.footer {
   user-select: none;
   background-color: $footerBlue;
   color: white;
   padding: 50px 0px 15px 0px;
   font-size: 14px;
   font-family: "Raleway";
   &__pagesLinks{
      @include f(space-between, start);
      width: 50%;
   }
   a{
      color: white;
      font-size: 14px;
   }
   hr{
      width: 100%;
      border: 1px solid rgb(43, 45, 59);
   }
   &__content {
      @include f(space-between, start);
      flex-wrap: wrap;
      margin-bottom: 50px;
   }
   &__contactUs {
      @include f(start, center);
      flex-direction: column;
   }
   &__contactUs-text{
      font-family: "Segoe";
      font-size: 18px;
      margin-bottom: 15px;
   }
   &__contactUs-btn {
      background-color: $blue;
      padding: 8px 15px;
      border-radius: 25px;
      border: none;
      font-size: 12px;
      transition: background-color 0.3s, transform 0.1s;
      &:hover{
         background-color: rgba($color: $blue, $alpha: 0.8);
      }

   }
   &__item {
      @include f(start, start);
      flex-direction: column;
      gap: 20px;
      &_apps{
         :first-child{
            margin-right: 30px;
         }
      }
      :first-child{
         margin-bottom: -5px;
      }
   }
   &__buttons-box {
      width: 234.75px;
      max-height: 100.94px;
      display: grid;
      grid-template-columns: 57% 43%;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      box-sizing: content-box;
      :first-child{
         margin-bottom: 0px;
         margin-right: 0px;
      }
   }
   &__button {
      background-color: rgb(76, 79, 95);
      border-radius: 10px;
      padding: 5px 10px;
      height: auto;
      @include f(center, center);
      transition: background-color 0.3s, transform 0.1s;
      &:hover{
         background-color: rgba($color: rgb(76, 79, 95), $alpha: 0.8);
      }
      &_big{
         padding: 10px 10px;
         grid-row: 1/3;
         grid-column: 2/3;
         &:hover{
            background-color: rgb(76, 79, 95);
         }
      }
   }
   &__hr{
      display: block;
      margin-bottom: 20px;
   }
   &__underLine {
      @include f(space-between, start);
      gap: 20px;
      padding: 0px 10px;
      color: rgb(99, 101, 111);
      a{
         color: rgb(99, 101, 111);
         text-decoration: underline;
      }
   }
   &__item {
      span{
         font-size: 12px;
         letter-spacing: 2px;
      }
      &_underLine{
         gap: 5px;
         a{
            font-size: 12px;
         }
      }
   }
   &__bigLetter{
      font-size: 16px;
      vertical-align: top;
   }
   &__social {
      @include f(start, start);
      :last-child{
         margin-right: 0px;
      }
   }
   &__social-btn {
      @include f(center, center);
      background-color: white;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 15px;
   }
}

@import 'media';
@import './otherMedia/categoryPageMedia';
@import './otherMedia/aboutAppPageMedia';
@import './otherMedia/businessPageMedia';
@import './otherMedia/contentMedia';
@import './otherMedia/partnershipPageMedia';
@import './otherMedia/serviceMedia';
@import './otherMedia/servicePageMedia';
@import './otherMedia/contactsPageMedia';


